body {
    margin: 0px;
    padding: 0px;
    padding-top: 65px;
}

/* Navbar navigation settings. */
.navbar {
    background-color: #302F2E;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0px;
  }

/* Pushing all the ul items to the right. */
.navigation{
    float: right;
    display: flex;
}

.navbar ul li {
    display: inline-block;
    border-radius:  7px;
    margin-right: 20px;
}

/* Setting display for all the a tags. */
.navbar ul li a{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
    display: block;
    overflow: hidden;
    position: relative;
}

/* Initial colour and display of nav items. */
.navbar ul li a span{
    color: #FFFFFF;
    display: block; 
}

/* Once the navbar is clicked, it will transition to a different colour. */
.navbar ul li a::after {
    color: #FF6100;
    position: absolute;
    content: attr(data-link-alt);
    top: 100%;
    opacity: 0;
    transition: 1s;
}

.navbar ul li a:hover::after {
    top: 0;
    opacity: 1;
}

/* When the navbar is hovered on, the text will translate 100% on the y-axis. */
.navbar ul li a:hover span{
    transform: translateY(-100%);
}

/* Logo settings. */
/* .logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -55px;
    left: 40px;
  }
   */
/* Since the last item of my navbar was a link to my resume, I wanted it to look differently, 
so added some different display settings. */
.navigation li:last-child a{
    color: #FFFFFF;
    font-weight: 500;
    border: 3px solid blue;
    padding: 5px;
    top: -9px;
}

/* On hover the resume will turn this colour.  */
.navigation li:last-child a:hover{
    color: #ec5564;
}

.homepage{
    background-color: #302F2E;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.homepage h3{
    font-family: "Arimo", sans-serif;
    font-size: 30px;
    margin: 0;
    color: #FFFFFF;
}

.homepage h1{
    font-family: "Arimo", sans-serif;
    font-size: 70px;
    margin: 0;
    color: #FFFFFF;
}


.homepage p{
    font-family: "Arimo", sans-serif;
    margin: 5px;
    color: #FFFFFF;
}