.navbar {
    background: white;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
  }

.navbar ul{
    float: right;
    margin-right: 30px;
}

.navbar ul li {
    display: inline-block;
    border-radius:  7px;
    margin-right: 20px;
}

.navbar ul li a{
    color: red;
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
    font-size: larger;
    display: block;
    position: relative;
    overflow: hidden;
}

span{
    color: black;
    display: block;
    transition: 1s;
}
a:hover span{
    transform: translateY(-100%);
    color: red;
}

a::before {
    position: absolute;
    content: attr(data-link-alt);
    top: 100%;
    opacity: 0;
    transition: 1s;
}
.logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -55px;
    left: 40px;
  }

